@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

html {
    
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: rgba(245, 245, 245, .1);
/*    background-color: rgba(254, 245, 239, .5);*/

}

header h1 {
    text-align:center;
    font-weight: 100;
    font-size: 48px;

}

main h3 {
        text-align:center;
    font-weight: 100;
    font-size: 1.2em;
    margin-top: .5em;

    margin-bottom: .5em;
}

header {
    padding-top:25px;
}

#graph-container {
    margin:0px;
    padding:10px;
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    
}

.column {
    background-color:none;
/*    border: 2px solid white;*/
    padding:1px;
    margin:0px;
    min-width: 100px;
    flex-grow: 1;
        flex-basis: 0;

    
}

.cohort_box {
    background-color:none;
/*    border: 2px solid white;*/
}

.svg-content {
    overflow:visible;
}

.backrect {
    opacity: .7;
    stroke-width: .5;
    stroke: white;
}

.lines {
    stroke-width:8;
    fill: none;
}

.axis path,
.axis line {
    stroke-width: 1;
    shape-rendering: crispEdges;
    
}
.axis text {
    font-size: 48px;
    margin-bottom: 12px;
}

.gridline {
   stroke-width: 3;
    stroke: black ;
     stroke-dasharray: 20 20;
}

.gridlabels {
 text-anchor: end;
 alignment-baseline: middle;
    font-size: 35px;
}

.startlabels {
 text-anchor: end;
 alignment-baseline: middle;
    font-size: 35px;
}

.yeartext {
font-size: 20em;
fill: grey;
opacity: .2;
    z-index: 10;
text-anchor: middle;
alignment-baseline: middle;
    
}

/*Check Boxes*/
#checkboxes {
    background-color: white;
    max-height: 200px;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 15px;
        margin-right: 15px;

    padding:5px;
    padding-top:10px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: dashed black 1px;

}
.checkdiv {
    width: 195px;
}

.checkbox {
    margin-right: 5px;
}
#submitchanges {
}

main {
    
}

.page-section {
    margin-top: 10px;
    text-align:center;
        width: 100%;
    padding: 10px;
}

.btn-secondary {
    background-color: white;
    color: black;
    opacity: .9; 
    border: dashed black 1px;
    font-size: 20px;
    font-weight: 200;
}

.btn-secondary:hover {
    opacity: .8;
}

.titledivs {
    min-height: 4em;
    display:flex;
      align-items: center;
    justify-content: center;
    text-align: center;
}