@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

html {

}

body {
    font-family: 'Nunito', sans-serif;
    background-color: rgba(245, 245, 245, .1);
/*    background-color: rgba(254, 245, 239, .5);*/

}

header h1 {
    text-align:center;
    font-weight: 800;
    font-size: 48px;


}

main h3 {
        text-align:center;
    font-weight: 100;
    font-size: 1.2em;
    margin-top: .5em;

    margin-bottom: .5em;
/*    font-weight: 800;*/
}

header {
    padding-top:25px;
}

#graph-container {
    margin:0px;
    padding:20px;
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;

}

.titlecol {
     background-color:none;
/*    border: 2px solid white;*/
    padding:0px;
    margin:0px;
    min-width: 20px;
    flex-grow: .2;
        flex-basis: 0;
}

.column {
    background-color:none;
/*    border: 2px solid white;*/
    padding:0px;
    margin:0px;
    min-width: 100px;
    flex-grow: 1;
        flex-basis: 0;


}

.cohort_box {
    background-color: rgba(255, 255, 255, .8);

    border: 1px dashed black;
    margin: 7px;
    border-radius: 5px;
}

.svg-content {
    overflow:visible;
}

.backrect {
    opacity: .7;
    stroke-width: .5;
    stroke: white;
}

.lines {
    stroke-width:8;
    fill: none;
}


.domain  {
    stroke-width: 0;
    shape-rendering: crispEdges;
    opacity: 0;
}

.tick line {
    stroke-width: 3;
    shape-rendering: crispEdges;
    opacity: 1;
/*    transform: translate(0, 10);*/
/*    margin: 10px;*/
}
.tick text {
    font-size: 48px;

/*    margin-bottom: 20px;*/
}

.gridline {
   stroke-width: 3;
    stroke: black ;
     stroke-dasharray: 20 20;
}

.gridlabels {
 text-anchor: end;
 alignment-baseline: middle;
    font-size: 35px;
}

.startlabels {
 text-anchor: end;
 alignment-baseline: middle;
    font-size: 55px;
}

.level_labels {
 text-anchor: start;
 alignment-baseline: middle;
    font-size: 55px;
}

.yeartext {
       pointer-events : none;

font-size: 20em;
fill: grey;
opacity: .2;
    z-index: 10;
text-anchor: middle;
alignment-baseline: middle;

}

/*Check Boxes*/
#checkboxes {
    background-color: white;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
/*    grid-auto-flow: dense;*/

    margin-left: 30px;
    margin-right: 30px;
    padding:5px;
    padding-top:10px;
    padding-left: 10px;
/*    align-items: center;*/
/*    justify-content: center;*/
    border-radius: 5px;
    border: dashed black 1px;

}

.checkboxgroup {
    margin-right: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(195px, 1fr));
    grid-auto-flow: dense;
}

.grouptitlediv{
    grid-column: 1/-1;
    grid-row: span 1;
}

.checkboxgrouptitle {
    font-weight: 800;
    text-align: left;

}


.checkboxlabels {
    font-weight: 300;
}

.checkdiv {
    width: 195px;
    margin-top: 0px;
    grid-column: span 1;

}

.checkbox {
    margin-right: 5px;
}
#submitchanges {
}

main {

}

.page-section {
    margin-top: 10px;
    text-align:center;
        width: 100%;
    padding: 10px;
    align-content: center;
}

.btn-secondary {
    background-color: white;
    color: black;
    opacity: .9;
    border: dashed black 1px;
    font-size: 20px;
    font-weight: 200;
}

.btn-secondary:hover {
    opacity: .8;
}

.titledivs {
    min-height: 4em;
    display:flex;
      align-items: center;
    justify-content: center;
    text-align: center;
}

.dots:hover {
    opacity:0.5;
    stroke: yellow;
    color: yellow;
}


.lines:hover {
pointer-events:none
}

.hovertext {
    font-size: 50px;
    z-index: 100;
    opacity: 0;
 text-anchor: middle;
     alignment-baseline: middle;

}
.hovertext:hover {
    opacity: 1;
  cursor: pointer;
}


  .toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 10rem; }
  .toggle.ios .toggle-handle { border-radius: 10rem; }
.example-container {
}

.relative-image {
    position:relative;
    width:100%;
}

main p {
    text-align: left;
    font-weight: 300;

}


/* Tornado plots*/

/*Set up the Gridlines */
.vert_lines {
    stroke-width: 5;
    stroke: grey;
    stroke-dasharray: 20;
}

.vert_line_text {
    font-size: 50px;
/*          dominant-baseline:middle;*/
    text-anchor:middle;

}

.legend_labels {

    dominant-baseline:middle;
    text-anchor:left;
        font-size: 75px;
    fill: black;

}

.division_label {
        font-size: 12px;
        dominant-baseline:middle;
/*       text-anchor:end;*/
       text-anchor:start;

        opacity: 1;
}

.division_dots {
    opacity: 1;
/*    fill: black*/

}

.lines_tornado {
    stroke-width:15;
    stroke: black;
}

.lines_tornado:active {
    stroke: red;
}


.division_text {
        font-size: 50px;
        dominant-baseline:middle;
           text-anchor:middle;
    opacity: 0

}

/*Give the grouping elements interaction on hover*/
.division_boxes {
    pointer-events: bounding-box;
    opacity: 1;
}


/*edit the children when that hover happens*/

.division_boxes:hover > .division_label {
        font-size: 60px;

}

.division_boxes:hover > .division_text {
        opacity: 1;

}
.division_boxes:hover > path {
        stroke: red

}

.division_boxes:hover > circle {
        fill: red

}

/*Put in the highlights*/
.highlighted > path {
    stroke: red
}


.highlighted > circle {
        fill: red
}

.highlighted > .division_label {
        font-size: 60px;

}

.highlighted > .division_text {
        opacity: 1;

}
